body {
    margin: 0;
}

#header {
    background: blanchedalmond;
    height: 100px;
    width: 100%;
}

#header-link {
    background: brown;
    height: 20px;
    width: 100%;
}
#left{
    background: blue;
    height: 300px;
    width: 20%;
    float: left;
}
#main {
    background: aqua;
    height: 300px;
    width: 60%;
    float: left;
}

#sidebar {
    background: chartreuse;
    height: 300px;
    width: 20%;
    float: left;
}

#footer {
    background: blueviolet;
    height: 100px;
    width: 100%;
    clear: both;
}