<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sach</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Books Management</h1>
<a th:href="@{/create}"> Add New Book</a>
<a th:href="@{/list}"> List All Books</a>



<<form th:action="@{/list}" method="get">
    <input type="text" name="keyword" />
    <input type="submit" value="Search Name">
</form>
<hr>
<h1>List of Book</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td><a th:href="@{/delete(id=${book.id})}">Delete</a></td>
                <td><a th:href="@{/edit(id=${book.id})}">Edit</a></td>
            </tr>

</table>
<!--<div>-->
<!--    <a th:if="${bookList.hasPrevious()}" th:href="@{/list(page=${bookList.number - 1}, keyword = ${keyword})}">Previous</a>-->
<!--    <span th:text="${bookList.number + 1}"></span>/<span th:text="${bookList.totalPages}"></span>-->
<!--    <a th:if="${bookList.hasNext()}" th:href="@{/list(page=${bookList.number + 1}, keyword = ${keyword})}">Next</a>-->
<!--</div>-->
</body>
</html>