<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>Blog</h1>
<form action="/blogController" method="get"></form>
<label>Write a new blog here</label>
<input type="text" name="newBlog">
<table border="1px">
    <li><a th:href="@{/list}">List</a></li>
    <li><a th:href="@{/create}">Create</a></li>
    <br>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.text}"></td>


        </tr>
    </th:block>
</table>

</body>
</html>